/************************************
HTML*********************************
*************************************

Link the style sheet to the html file 
in the head tag as in the sample below.

<!doctype html>
<html>
  <head>
    <link href="styles.css" rel="stylesheet" />
  </head>
</html>
*/


/************************************
 APPLY FONT FAMILY TO BODY***********
*************************************

replace FONTNAME with your font name. 
Use "" if there are spaces

body { font-family: FONTNAME, "FONT NAME"; }
*/

body { 
    font-family: 
    "Rounded Mplus 1c", 
    "Rounded Mplus 1c Heavy", 
    "Spicy Rice"; 
}


/************************************
LINK THE FONT************************
*************************************

Change .eot to the correct format type and change FILENAME.

@font-face { 
    font-family: "FONT NAME"; 
    src: url('FILENAME.eot') 
    format('embedded-opentype'), <= .oet
    format('woff'),              <= .woff
    format('woff2'),             <= .woff2
    format('truetype');          <= .ttf
}
*/

@font-face { 
    font-family: "Rounded Mplus 1c"; 
    src: url('MPLUSRounded1c-Regular.ttf')
    format('truetype');
}
@font-face { 
    font-family: "Rounded Mplus 1c Heavy"; 
    src: url('MPLUSRounded1c-ExtraBold.ttf') 
    format('truetype');
    font-weight: bold;
}
@font-face { 
    font-family: "Spicy Rice"; 
    src: url('SpicyRice-Regular.ttf') 
    format('truetype');
}




